#rodape {
    background-color: #000;
    text-align: center;
    padding: 10px 10px;
    color: #bbb;
  }
  
  /* Títulos */
  #rodape .titulo {
    font-size: 8rem;
    margin-bottom: 5px;
    animation: pulse 1.5s infinite; /* animação chamativa */
    font-weight: bold;
    margin-top: 20px;
  }
  
  #rodape h4 {
    font-size: 4rem;
    margin-bottom: 15px;
  }
  
  /* Container da classificação + botões */
  #rodape .classe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px; /* espaço entre a classificação e os ícones */
    margin-bottom: 20px;
  }
  
  /* Imagem da classificação indicativa */
  #rodape .classificacao-indicativa {
    height: 150px;
    width: 150px;
    margin-left: 80px;
  }
  
  /* Botões sociais */
  #rodape .botoes {
    display: flex;
    gap: 15px;
    margin-right: 80px;
  }
  
  #rodape button {
    background: #fff;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: transform 0.2s ease;
  } 
  
  #rodape button:hover {
    transform: scale(1.2);
  }
  
  #rodape .social-medias {
    height: 100px;
    height: 100px;
  }
  
  /* Copyright */
  #rodape p {
    font-size: 20px;
    margin-top: 15px;
    color:#aaa;
    
  }