#cabecalho {
    position: fixed;
    width: 100%;
}
 
.menu {
    background-color: #0F0F0C;
    display: flex;
    align-items: center;
    min-height: 100px;
    gap: 400px;
}
 
.menu .menu-list {
    margin: 10px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
 
.menu li {
    display: inline-block;
    color: #DFDFDC;
    font-family: 'Jersey 25', serif;
    font-weight: bold;
    font-size: 2rem;
}
 
.menu img {
    margin: 10px 20px;
    display: flex;
    align-items: center;
    width: 200px;
 
}
.menu a {
    text-decoration: none;
    color: #DFDFDC;
}
.menu a:hover {
    color: #ff0015;
    transition: 0.3s;
}